Repository kcenon/osx_cleaner: changes, and which Codecov flags are due for each by the changed paths.
All: swift, rust, CleanerService, AnalyzerService, RustBridge (FFI), SafetyValidator, MDMService, PolicyEngine

feat(bridge): implement Rust core initialization recovery mechanism
  Sources/OSXCleanerKit/Bridge/RustBridge.swift
Due: swift

test(bridge): add unit tests for Rust core initialization recovery
  Tests/OSXCleanerKitTests/RustBridgeRecoveryTests.swift
Due: none

feat(bridge): implement Rust core initialization recovery (#211)
  Sources/OSXCleanerKit/Bridge/RustBridge.swift
  Tests/OSXCleanerKitTests/RustBridgeRecoveryTests.swift
Due: swift

feat(ci): add comprehensive security scanning workflow
  .github/workflows/security.yml
Due: none

feat(rust): add cargo-deny configuration for license compliance
  rust-core/deny.toml
Due: none

feat(security): add Gitleaks configuration for secret detection
  .gitleaks.toml
Due: none

feat(ci): add Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

feat(swift): enhance SwiftLint with security-focused rules
  .swiftlint.yml
Due: none

docs(security): add comprehensive security policy
  SECURITY.md
Due: none

docs(readme): add security scanning section and badge
  README.md
Due: none

fix(ci): resolve security scanning workflow failures
  .github/workflows/security.yml
  include/osxcore.h
  rust-core/Cargo.toml
  rust-core/deny.toml
Due: none

feat(ci): add comprehensive security scanning to CI/CD pipeline (#212)
  .github/dependabot.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .swiftlint.yml
  README.md
  SECURITY.md
  include/osxcore.h
  rust-core/Cargo.toml
  rust-core/deny.toml
Due: none

refactor(commands): extract helper classes from large command files
  Sources/osxcleaner/Commands/Common/OutputFormatter.swift
  Sources/osxcleaner/Commands/Fleet/FleetOutputHelpers.swift
  Sources/osxcleaner/Commands/FleetCommand.swift
  Sources/osxcleaner/Commands/MDM/MDMOutputHelpers.swift
  Sources/osxcleaner/Commands/MDMCommand.swift
  Sources/osxcleaner/Commands/Policy/PolicyOutputHelpers.swift
  Sources/osxcleaner/Commands/PolicyCommand.swift
Due: swift

refactor(commands): extract helper classes from large command files (#218)
  Sources/osxcleaner/Commands/Common/OutputFormatter.swift
  Sources/osxcleaner/Commands/Fleet/FleetOutputHelpers.swift
  Sources/osxcleaner/Commands/FleetCommand.swift
  Sources/osxcleaner/Commands/MDM/MDMOutputHelpers.swift
  Sources/osxcleaner/Commands/MDMCommand.swift
  Sources/osxcleaner/Commands/Policy/PolicyOutputHelpers.swift
  Sources/osxcleaner/Commands/PolicyCommand.swift
Due: swift

feat(bridge): implement comprehensive error recovery mechanisms
  Sources/OSXCleanerKit/Bridge/FFIErrorRecovery.swift
  Sources/OSXCleanerKit/Network/NetworkRetryPolicy.swift
  Sources/OSXCleanerKit/Services/CleanerService.swift
  Sources/OSXCleanerKit/Services/FileOperationRetry.swift
  Tests/OSXCleanerKitTests/FFIErrorRecoveryTests.swift
  Tests/OSXCleanerKitTests/FileOperationRetryTests.swift
  Tests/OSXCleanerKitTests/NetworkRetryPolicyTests.swift
  docs/ERROR_RECOVERY.md
  docs/TROUBLESHOOTING.md
Due: swift

fix(test): use error code instead of localized message for file not found test
  Tests/OSXCleanerKitTests/FileOperationRetryTests.swift
Due: none

feat(bench): add comprehensive performance benchmark suite
  .github/workflows/benchmarks.yml
  Tests/OSXCleanerKitTests/PerformanceTests.swift
  docs/BENCHMARKING.md
  rust-core/benches/analysis_bench.rs
  rust-core/benches/ffi_bench.rs
  rust-core/benches/safety_benchmark.rs
Due: none

feat(bridge): implement error recovery mechanisms (#219)
  Sources/OSXCleanerKit/Bridge/FFIErrorRecovery.swift
  Sources/OSXCleanerKit/Network/NetworkRetryPolicy.swift
  Sources/OSXCleanerKit/Services/CleanerService.swift
  Sources/OSXCleanerKit/Services/FileOperationRetry.swift
  Tests/OSXCleanerKitTests/FFIErrorRecoveryTests.swift
  Tests/OSXCleanerKitTests/FileOperationRetryTests.swift
  Tests/OSXCleanerKitTests/NetworkRetryPolicyTests.swift
  docs/ERROR_RECOVERY.md
  docs/TROUBLESHOOTING.md
Due: swift

fix(bench): apply rustfmt formatting to benchmark files
  rust-core/benches/analysis_bench.rs
  rust-core/benches/ffi_bench.rs
Due: none

fix(ci): resolve syntax error in benchmark metrics extraction
  .github/workflows/benchmarks.yml
Due: none

feat(bench): add comprehensive performance benchmark suite (#220)
  .github/workflows/benchmarks.yml
  Tests/OSXCleanerKitTests/PerformanceTests.swift
  docs/BENCHMARKING.md
  rust-core/benches/analysis_bench.rs
  rust-core/benches/ffi_bench.rs
  rust-core/benches/safety_benchmark.rs
Due: none

feat(errors): add actionable CLI error messages with detailed guidance
  Sources/OSXCleanerKit/Bridge/FFITypes.swift
  Sources/OSXCleanerKit/Errors/CleanupError.swift
  Sources/OSXCleanerKit/Errors/DetailedError.swift
  Sources/OSXCleanerKit/Errors/ErrorFormatter.swift
  Sources/OSXCleanerKit/Validation/ValidationError.swift
  Sources/osxcleaner/UI/ProgressView.swift
  Tests/OSXCleanerKitTests/ErrorFormatterTests.swift
Due: swift

test(validation): update test expectations for DetailedError messages
  Tests/OSXCleanerKitTests/CommandValidationTests.swift
Due: none

feat(errors): add actionable CLI error messages with detailed guidance (#221)
  Sources/OSXCleanerKit/Bridge/FFITypes.swift
  Sources/OSXCleanerKit/Errors/CleanupError.swift
  Sources/OSXCleanerKit/Errors/DetailedError.swift
  Sources/OSXCleanerKit/Errors/ErrorFormatter.swift
  Sources/OSXCleanerKit/Validation/ValidationError.swift
  Sources/osxcleaner/UI/ProgressView.swift
  Tests/OSXCleanerKitTests/CommandValidationTests.swift
  Tests/OSXCleanerKitTests/ErrorFormatterTests.swift
Due: swift

test(perf): add Swift layer performance tests
  Tests/OSXCleanerKitTests/Performance/AnalyzerPerformanceTests.swift
Due: none

fix(test): increase memory leak detection threshold for CI stability
  Tests/OSXCleanerKitTests/Performance/AnalyzerPerformanceTests.swift
Due: none

test(perf): add Swift layer performance tests (#222)
  Tests/OSXCleanerKitTests/Performance/AnalyzerPerformanceTests.swift
Due: none

feat(bench): add benchmark result tracking system
  docs/BENCHMARKING.md
  scripts/compare-benchmarks.py
  scripts/track-benchmarks.sh
Due: none

feat(bench): add benchmark result tracking system (#223)
  docs/BENCHMARKING.md
  scripts/compare-benchmarks.py
  scripts/track-benchmarks.sh
Due: none

chore(lint): re-enable SwiftLint todo rule
  .swiftlint.yml
Due: none

chore(lint): fix clippy unnecessary_sort_by errors
  rust-core/src/analyzer/categories.rs
  rust-core/src/analyzer/cleanable.rs
  rust-core/src/analyzer/mod.rs
  rust-core/src/developer/xcode.rs
  rust-core/src/scanner/mod.rs
  rust-core/src/targets/app_cache.rs
Due: rust

docs: align README macOS minimum with Package.swift (14.0)
  README.kr.md
  README.md
Due: none

chore(lint): re-enable SwiftLint todo rule and fix clippy unnecessary_sort_by (#244)
  .swiftlint.yml
  rust-core/src/analyzer/categories.rs
  rust-core/src/analyzer/cleanable.rs
  rust-core/src/analyzer/mod.rs
  rust-core/src/developer/xcode.rs
  rust-core/src/scanner/mod.rs
  rust-core/src/targets/app_cache.rs
Due: rust

docs: align README macOS minimum with Package.swift (14.0) (#245)
  README.kr.md
  README.md
Due: none

chore(build): align Yams dependency across Package.swift and project.yml
  project.yml
Due: none

chore(build): align Yams dependency across Package.swift and project.yml (#246)
  project.yml
Due: none

security(auth): replace hand-rolled JWT with swift-crypto HMAC
  Package.swift
  Sources/OSXCleanerKit/Server/JWTProvider.swift
  Tests/OSXCleanerKitTests/JWTProviderSecurityTests.swift
  project.yml
Due: swift

security(auth): replace hand-rolled JWT with swift-crypto HMAC (#247)
  Package.swift
  Sources/OSXCleanerKit/Server/JWTProvider.swift
  Tests/OSXCleanerKitTests/JWTProviderSecurityTests.swift
  project.yml
Due: swift

feat(ui): surface Rust fallback mode to GUI banner and CLI warning
  Sources/OSXCleanerGUI/OSXCleanerApp.swift
  Sources/OSXCleanerGUI/Resources/en.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ja.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ko.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Views/ContentView.swift
  Sources/OSXCleanerKit/Bridge/RustBridge.swift
Due: swift

feat(ui): surface Rust fallback mode to GUI banner and CLI warning (#248)
  Sources/OSXCleanerGUI/OSXCleanerApp.swift
  Sources/OSXCleanerGUI/Resources/en.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ja.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ko.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Views/ContentView.swift
  Sources/OSXCleanerKit/Bridge/RustBridge.swift
Due: swift

Path conditions:
  swift: any of: Sources/**/*.swift
  rust: any of: rust-core/src/**/*.rs
  CleanerService: any of: Sources/osxcleaner/Services/CleanerService.swift
  AnalyzerService: any of: Sources/osxcleaner/Services/AnalyzerService.swift
  RustBridge (FFI): any of: Sources/osxcleaner/Core/RustBridge.swift, rust-core/src/lib.rs
  SafetyValidator: any of: rust-core/src/safety/**, rust-core/src/validator.rs
  MDMService: any of: Sources/osxcleaner/Services/MDMService.swift
  PolicyEngine: any of: rust-core/src/policy/**
