Repository kcenon/osx_cleaner: changes, and which Codecov flags are due for each by the changed paths.
All: swift, rust, CleanerService, AnalyzerService, RustBridge (FFI), SafetyValidator, MDMService, PolicyEngine

test(ffi): add Swift<->Rust round-trip integration tests
  Tests/OSXCleanerKitTests/FFIRoundTripTests.swift
Due: none

test(ffi): add Swift<->Rust round-trip integration tests (#249)
  Tests/OSXCleanerKitTests/FFIRoundTripTests.swift
Due: none

build(spm): replace unsafeFlags with COSXCore.xcframework binaryTarget
  .github/workflows/ci.yml
  .gitignore
  Makefile
  Package.swift
  README.kr.md
  README.md
  Sources/COSXCore/module.modulemap
  docs/CONTRIBUTING.md
  project.yml
  scripts/appstore/generate-xcode-project.sh
  scripts/build-xcframework.sh
Due: none

ci: build XCFramework in memory/benchmark/release/action workflows
  .github/actions/osxcleaner/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/memory-check.yml
  .github/workflows/release-gui.yml
Due: none

build(spm): replace unsafeFlags with COSXCore.xcframework binaryTarget (#250)
  .github/actions/osxcleaner/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/memory-check.yml
  .github/workflows/release-gui.yml
  .gitignore
  Makefile
  Package.swift
  README.kr.md
  README.md
  Sources/COSXCore/module.modulemap
  docs/CONTRIBUTING.md
  project.yml
  scripts/appstore/generate-xcode-project.sh
  scripts/build-xcframework.sh
Due: none

test(perf): raise leak threshold to 30MB
  Tests/OSXCleanerKitTests/Performance/AnalyzerPerformanceTests.swift
Due: none

fix(clean): enforce cleanup safety gates
  Sources/OSXCleanerKit/Services/CleanerService.swift
  Sources/OSXCleanerKit/Validation/PathValidator.swift
  Sources/osxcleaner/Commands/CleanCommand.swift
  Tests/OSXCleanerKitTests/CleanerServiceIntegrationTests.swift
  Tests/OSXCleanerKitTests/PathValidatorTests.swift
Due: swift

build: document clean checkout bootstrap
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  Makefile
  Package.resolved
  README.md
  docs/INSTALLATION.md
  docs/SAFETY.md
  docs/TESTING.md
  rust-core/Cargo.lock
  scripts/build-xcframework.sh
Due: none

fix(security): store server tokens in keychain
  Sources/OSXCleanerKit/Config/Configuration.swift
  Sources/OSXCleanerKit/Security/TokenStore.swift
  Sources/OSXCleanerKit/Server/ServerClient.swift
  Sources/osxcleaner/Commands/ServerCommand.swift
  Tests/OSXCleanerKitTests/TokenStoreTests.swift
  docs/SECURITY.md
Due: swift

fix(gui): clean selected scan results only
  Sources/OSXCleanerGUI/Resources/en.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ja.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Resources/ko.lproj/Localizable.strings
  Sources/OSXCleanerGUI/Views/CleanView.swift
  Sources/OSXCleanerKit/Config/ScannedCleanupSelection.swift
  Tests/OSXCleanerKitTests/CleanupSelectionTests.swift
Due: swift

fix(ffi): align result ownership and docker probes
  Sources/OSXCleanerKit/Bridge/RustBridge.swift
  Tests/OSXCleanerKitTests/FFIRoundTripTests.swift
  docs/reference/ffi-guide.md
  include/osxcore.h
  rust-core/src/developer/docker.rs
  rust-core/src/developer/mod.rs
  rust-core/src/developer/packages.rs
  rust-core/src/lib.rs
  rust-core/tests/ffi_memory_tests.rs
Due: swift, rust, RustBridge (FFI)

test(mdm): prevent real cleanup in MDM tests
  Sources/OSXCleanerKit/MDM/MDMService.swift
  Tests/OSXCleanerKitTests/MDMTests.swift
  Tests/OSXCleanerKitTests/Mocks/MockCleanerService.swift
Due: swift

docs: align cleanup force semantics
  README.md
  docs/SAFETY.md
  docs/USAGE.md
Due: none

test(cli): add cleanup command integration coverage
  .github/workflows/ci.yml
  Makefile
  Package.swift
  Sources/osxcleaner/Commands/CleanCommand.swift
  Tests/osxcleanerCLITests/CleanCommandIntegrationTests.swift
  docs/TESTING.md
  docs/USAGE.md
Due: swift

fix(rust): bound developer cleanup command execution
  docs/SAFETY.md
  docs/TESTING.md
  rust-core/src/developer/docker.rs
  rust-core/src/developer/mod.rs
  rust-core/src/developer/packages.rs
Due: rust

test(cli): stabilize cleanup integration fixtures
  Sources/OSXCleanerKit/Validation/PathValidator.swift
  Tests/osxcleanerCLITests/CleanCommandIntegrationTests.swift
Due: swift

test(cli): align relative cleanup level with safety policy
  Tests/osxcleanerCLITests/CleanCommandIntegrationTests.swift
Due: none

ci: skip performance SLO tests during coverage
  .github/workflows/ci.yml
Due: none

feat(rust-core/developer): bound Xcode external command execution
  rust-core/src/developer/xcode.rs
Due: rust

feat(rust-core/developer): bound simulator external command execution
  rust-core/src/developer/simulator.rs
Due: rust

style(rust-core/developer): apply cargo fmt to issue-267 tests
  rust-core/src/developer/simulator.rs
  rust-core/src/developer/xcode.rs
Due: rust

feat(rust-core/developer): bound Xcode and simulator external command execution (#267) (#268)
  rust-core/src/developer/simulator.rs
  rust-core/src/developer/xcode.rs
Due: rust

test(safety): extract DestructiveCleanupGuard for cross-suite reuse
  Tests/OSXCleanerKitTests/Mocks/DestructiveCleanupGuard.swift
  Tests/OSXCleanerKitTests/Mocks/MockCleanerService.swift
Due: none

test(safety): route integration cleanups through DestructiveCleanupGuard
  Tests/OSXCleanerKitTests/CleanerServiceIntegrationTests.swift
Due: none

test(mdm,safety): pin compliance/config MDMService instances to safe dry-run
  Tests/OSXCleanerKitTests/MDMTests.swift
  Tests/OSXCleanerKitTests/Mocks/DestructiveCleanupGuardTests.swift
Due: none

fix(tests): prevent real cleanup execution in MDM and integration tests (#269)
  Tests/OSXCleanerKitTests/CleanerServiceIntegrationTests.swift
  Tests/OSXCleanerKitTests/MDMTests.swift
  Tests/OSXCleanerKitTests/Mocks/DestructiveCleanupGuard.swift
  Tests/OSXCleanerKitTests/Mocks/DestructiveCleanupGuardTests.swift
  Tests/OSXCleanerKitTests/Mocks/MockCleanerService.swift
Due: none

feat(cli): surface per-target details and risky list in cleanup preview
  Sources/osxcleaner/Commands/CleanCommand.swift
Due: swift

test(cli): cover preview transparency and force-flag prompt bypass
  Tests/osxcleanerCLITests/CleanCommandIntegrationTests.swift
Due: none

docs(safety): document confirmation force-flag and dry-run decision matrix
  docs/SAFETY.md
Due: none

feat(cli): enforce confirmation and dry-run semantics for destructive cleanup (#270)
  Sources/osxcleaner/Commands/CleanCommand.swift
  Tests/osxcleanerCLITests/CleanCommandIntegrationTests.swift
  docs/SAFETY.md
Due: swift

ci(build): align workflows with XCFramework prerequisite and lockfile policy
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
Due: none

feat(build): tolerate non-rustup toolchains and align macOS deployment target
  Makefile
  rust-core/.cargo/config.toml
  scripts/build-xcframework.sh
Due: none

feat(build): tolerate non-rustup toolchains and align macOS deployment target (#275)
  Makefile
  rust-core/.cargo/config.toml
  scripts/build-xcframework.sh
Due: none

ci(build): align workflows with XCFramework prerequisite and lockfile policy (#274)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
Due: none

docs(build): align README and TESTING.md with canonical first-build sequence
  README.md
  docs/TESTING.md
Due: none

docs(build): align README and TESTING.md with canonical first-build sequence (#276)
  README.md
  docs/TESTING.md
Due: none

docs(safety): document fallback safety parity and Keychain credential storage
  docs/SAFETY.md
Due: none

docs(safety): document fallback safety parity and Keychain credential storage (#277)
  docs/SAFETY.md
Due: none

fix(build): link OpenDirectory framework for sysinfo 0.39
  Package.swift
  rust-core/Cargo.lock
  rust-core/Cargo.toml
Due: none

Path conditions:
  swift: any of: Sources/**/*.swift
  rust: any of: rust-core/src/**/*.rs
  CleanerService: any of: Sources/osxcleaner/Services/CleanerService.swift
  AnalyzerService: any of: Sources/osxcleaner/Services/AnalyzerService.swift
  RustBridge (FFI): any of: Sources/osxcleaner/Core/RustBridge.swift, rust-core/src/lib.rs
  SafetyValidator: any of: rust-core/src/safety/**, rust-core/src/validator.rs
  MDMService: any of: Sources/osxcleaner/Services/MDMService.swift
  PolicyEngine: any of: rust-core/src/policy/**
